*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tsv text eol=lf
*.txt text eol=lf
*.rtf binary
*.doc binary
*.docm binary
*.docx binary
*.epub binary
*.jpg binary
*.jpeg binary
*.odp binary
*.ods binary
*.odt binary
*.pdf binary
*.png binary
*.pot binary
*.potm binary
*.potx binary
*.pps binary
*.ppsm binary
*.ppsx binary
*.ppt binary
*.pptm binary
*.pptx binary
*.xls binary
*.xlsb binary
*.xlsm binary
*.xlsx binary
